<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Google I/O Extended Cochabamba
    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>

  <div class="form" *ngIf="formShowing">
    <md-card>
      <md-card-title>Registration Form</md-card-title>
      <md-card-content>
        <form>
          <md-input placeholder="Name" [(ngModel)]="model.name.first"></md-input>
          <md-input placeholder="City" [(ngModel)]="model.location.city"></md-input>
          <md-input placeholder="Description" [(ngModel)]="model.description"></md-input>
          <md-input placeholder="Profile Picture URL" [(ngModel)]="model.picture.large"></md-input>
          <md-radio-group [(ngModel)]="model.gender">
            <md-radio-button value="male">Male</md-radio-button>
            <md-radio-button value="female">Female</md-radio-button>
          </md-radio-group>
          <div>
            <md-checkbox indeterminate="true">Angular 2</md-checkbox>
            <md-checkbox indeterminate="true">Firebase</md-checkbox>
            <md-checkbox indeterminate="true">VR</md-checkbox>
            <md-checkbox indeterminate="true">Android</md-checkbox>
          </div>
        </form>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button color="accent" (click)="add()">ADD</button>
      </md-card-actions>
    </md-card>
  </div>

  <div class="card-container">
    <md-card *ngFor="let assistant of assistants">
      <md-card-title-group>
        <img *ngIf="assistant.picture.large" md-card-sm-image src="{{assistant.picture.large}}">
        <img *ngIf="!assistant.picture.large" md-card-sm-image src="app/images/angular.jpg">
        <md-card-title>{{assistant.name.first}} {{assistant.name.last}}</md-card-title>
        <md-card-subtitle>{{assistant.location.city}}</md-card-subtitle>
        <md-card-subtitle *ngIf="assistant.description">
          {{assistant.description}}
        </md-card-subtitle>
        <md-card-subtitle *ngIf="!assistant.description">
          Lorem ipsum dolor sit amet
        </md-card-subtitle>
      </md-card-title-group>
    </md-card>
  </div>

</md-sidenav-layout>
