doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Angular 2 and the Future of Web Applications

        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

        // build:css styles/styles.css
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

        article

            section
                h1 Angular 2
                h3 And the future of Web Applications
                p
                a(href='https://twitter.com/luixaviles') Luis Aviles
                br
                small June 2016

            section.light(data-bespoke-state='green')
                h2 About Me

            section
                h2.bullet About Me
                ul
                    li Full Stack Developer
                    li Software Engineer

            section
                h2.bullet Technologies
                ul
                    li Java
                    li JavaScript
                    li Python

            section
                h2.bullet JavaScript
                ul
                    li NodeJS
                    li AngularJS

            section.gif.gif--fight
              h2.bullet AngularJS 1
              h2.bullet vs
              h2.bullet Angular 2


            section
                h2.bullet Why AngularJS?
                ul
                    li MVC done right
                    li Two way data binding
                    li Directives
                    li Form validation
                    li Animation
                    li Testing
            
            section.light(data-bespoke-state='green')
                h2 Angular 2 Features
                          
            section
                h2.bullet Develop Across All Platforms
                ul
                    li Progressive Web Apps
                    li Native mobile apps
                    li Desktop-installed apps

            section
                h2.bullet Speed & Performance
                ul
                    li Highly optimized code generation
                    li Serve view on different servers
                    li Code Splitting with Component Router
 
            section
                h2.bullet Productivity
                ul
                    li Quickly template creation
                    li Angular CLI
                    li IDEs: Intelligent code completion and more
 
            section
                h2.bullet Full Development Story
                ul
                    li Testing
                    li Animation
                    li Accessibility
                    
            section
                h2.bullet Community
              //TODO display an image with community users of AngularJS and Angular 2

            section.light(data-bespoke-state='green')
              h2 Why Angular 2?
              
            section
              h2.bullet Component-Based
              ul
                li Web Components: web standard
                li No Controllers
                li $scope are no longer used

            section
              h2.bullet Directives
              ul
                li @Directive annotation
                li Specification simplified

            section
              h2.bullet TypeScript
              ul
                li Developed by Microsoft
                li Default language for Angular 2
                li Object Oriented Programming
                li Program code is compiled to JavaScript!
                

                
            section
              h2.bullet Improved Dependency Injection
              ul
                li Component/Object-based work

            section
                h2.bullet AngularJS vs Others
                img(src='images/angularjs-interest.jpg', height='350')

            section
                h2.bullet Testing?
                ul
                    li Unit Tests
                    li E2E Tests
                    
            section.light(data-bespoke-state='green')
                h2 E2E Testing

            section
                h2.bullet E2E Testing
                ul
                    li How a user can interact with my application?
                    li Is my frontend communicating with my backend correctly?
                    li Are there synchronization issues between pages?
            
            section
                h2.bullet Why E2E Testing?
                ul
                    li User testing is expensive and time-consuming
                    li E2E tests can be helpful for identifying or reproducing errors that are not caught by manual testing or unit tests

            section
                h2.bullet Why Not E2E Testing?
                ul
                    li Tests tend to be difficult to write
                    li Test asynchronous applications can be difficult
          
            section
                h2.bullet Prerequisites
                ul
                    li NodeJS
                    li Git
                    
            section
                h2.bullet Protractor
                ul
                    li E2E test framework for AngularJS Applications
                    li NodeJS program
                    li Can run in a real browser
                    li Can run in a headless browser
                    li Allow interact and simulate user actions
            
            section
                h2.bullet Protractor - Installation
                pre.language-bash
                  code.
                    $ npm install -g protractor

            section
                h2.bullet Jasmine
                ul
                    li Behavior Driven Development testing framework
                    li Protractor test framework by default
                    li Defines the syntax of the tests
                    li It does not depend on any other JavaScript frameworks

            section
                h2.bullet Architecture Of E2E Tests
                img(src='images/architecture-test.png', height='350')

            section
                h2.bullet Writing E2E Tests For AngularJS Applications
                ul
                    li Protractor needs SPEC file(s)
                    li Protractor needs a CONFIGURATION file

            section
                h2.bullet Writing E2E Tests - spec.js
                pre.language-javascript
                    code.
                        // spec.js
                        describe('Protractor Demo App', function() {
                             it('should have a title', function() {
                               browser.get('http://juliemr.github.io/protractor-demo/');
                               expect(browser.getTitle()).toEqual('Super Calculator');
                             });
                        });

            section
                h2.bullet Writing E2E Tests - conf.js
                pre.language-javascript
                    code.
                        // conf.js
                        exports.config = {
                            baseUrl: 'http://localhost:9000',
                            seleniumAddress: 'http://127.0.0.1:4444/wd/hub',
                            capabilities: {
                                'browserName': 'chrome'
                            },
                            specs: ['spec.js'],
                            framework: 'jasmine',
                        }

             section
                h2.bullet Writing E2E Tests - conf.js
                pre.language-javascript
                    code.
                        // conf.js
                        exports.config = {
                            baseUrl: 'http://localhost:9000',
                            directConnect: true,
                            capabilities: {
                                'browserName': 'chrome'
                            },
                            specs: ['spec.js'],
                            framework: 'jasmine',
                        }

            section
                h2.bullet Running E2E Tests
                pre.language-bash
                    code.
                        $ protractor conf.js

            section
                h2.bullet Browser
                pre.language-javascript
                    code.
                        // browser is Protractor's proxy for the Selenium WebDriver
                        browser.get()
                        browser.quit()
                        browser.executeScript()
                        browser.executeAsyncScript()
                        browser.wait()

            section
                h2.bullet Browser
                pre.language-javascript
                    code.
                        browser.getTitle()
                        browser.refresh()
                        browser.getCurrentUrl()
                        browser.takeScreenShot()

            section
                h2.bullet Element Locators
                pre.language-javascript
                    code.
                        // find an element using a css selector
                        by.css('.myclass')
                        // find an element with the given id
                        by.id('myid')

            section
                h2.bullet Element Locators
                pre.language-javascript
                    code.
                        // find an element with a certain ng-model
                        by.model('name')
                        // find an element bound to the given variable
                        by.binding('bindingname')

            section
                h2.bullet Using Locators
                pre.language-javascript
                    code.
                        element(by.css('some-css'));
                        element(by.model('item.name'));
                        element(by.binding('item.name'));

            section
                h2.bullet Element Actions
                pre.language-javascript
                    code.
                        var el = element(locator);
                        // Click on the element
                        el.click();
                        // Send keys to the element (usually an input)
                        el.sendKeys('my text');

            section
                h2.bullet Element Actions
                pre.language-javascript
                    code.
                        // Clear the text in an element (usually an input)
                        el.clear();
                        // Get the value of an attribute, for example, 
                        // get the value of an input
                        el.getAttribute('value');

            section.light(data-bespoke-state='green')
                h1 Demo

            section
                h2.bullet More About E2E Testing...
                ul
                    li Page Object Pattern
                    li Reporters(HTML, XML)
                    li Screenshots!
                    li Debugging

            section.gif.gif--protractor-is-awesome
                h1.bullet PROTRACTOR
                h2.bullet is awesome
                h3.bullet :-)

            section
                h1.bullet Thank You!
                img.avatar(src='images/twitter.png')
                p
                    a(href='https://twitter.com/luixaviles') @luixaviles
                p
                img.avatar(src='images/github.png')
                p
                    a(href='https://github.com/luixaviles') @luixaviles

        // build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild
